.header {
    position:relative;
    top: 25vh;
    text-align: center;
    color: #000;

}
.search{
    position: relative;
    top: 30vh;
    text-align: center;
    
}
.search_btn{
    display: flex;
    align-items: center;
    background-color: rgb(94, 152, 215);
}   
.validator{
    position: relative;
    top: 5%;
    text-align: center;
}
.search_results{
    position: relative;
    top: 35vh;
    text-align: center;
}
.table_results{
    padding-right: 5px;
}





.footer{
    position: absolute;
    bottom: 1%;
    padding-left: 10px;
}
a:link{
    color: #000;
    text-decoration: none;
}
.four_spaces{
    padding-left: 4px;
}
/*
a:hover, a:active{
    text-decoration: underline;
}
a:visited{
    color:blueviolet;
} */