a:link{
    color: #000;
    text-decoration: none;
}
#display_container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 600px;
    overflow-y: scroll;
    border: none;
    background-color: azure;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 10px;
}
#form{
    text-align: right;
    display: inline-block;
    width: 80%;
    padding-right: 20%;
}
.four_spaces{
    padding-left: 4px;
}
.header {
    position:relative;
    top: 25vh;
    text-align: center;
    color: #000;

}
input[type=text]{
    width: 50%;
    margin: 5px;
}
.search{
    position: relative;
    top: 30vh;
    text-align: center;
}  
.search_results{
    position: relative;
    top: 35vh;
    text-align: center;
}
.submit_btn{
    text-align: center;
}
.table_results{
    padding-right: 5px;
}
.validator{
    position: relative;
    top: 5%;
    text-align: center;
}